@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66);
}

body{
    background-size: cover;
    background-position: top center;
    background-image: url("../imagens/fundo-madeira.jpg");
}

#telefone{
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    position: absolute;
    transform: translate(-50%,-50%);
    background-image: url('../imagens/frame-iphone.png');
}

iframe#tela{
    left: 7%;
    top: 13%;
    width: 267px;
    height: 469px;
    position: relative;
}

#rede-sociais{
  display: block;
  text-align: right;

}

#rede-sociais, img{
    width: 50px;
    border-radius: 50%;
}


